@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
}

h1 {
  color: #143774;
  font-family: "Lora", sans-serif;
  margin: 0;
  font-size: 30px;
  font-weight: light;
}

.subheader {
  color: #1792d2;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
}

header {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f8f8f8;
}

.nav-container {
  width: 70%;
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-list .nav-list-item .nav-link {
  text-decoration: none;
  color: #717171;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 1.5em;
  letter-spacing: 2.5px;
  font-size: 14px;
  padding-bottom: 0.5em;
}

.nav-list .nav-list-item .nav-link:hover {
  color: #1792d2;
}

.nav-list .nav-list-item .nav-link.active {
  border-bottom: 2px solid #707070;
}

.nav-list .nav-list-item .nav-link.active:hover {
  color: #717171;
  cursor: default;
}

.detail {
  color: #707070;
  font-family: "Ubuntu", sans-serif;
  font-weight: light;
  margin-top: 0.5em;
}

.continue {
  text-transform: uppercase;
  color: #1792d2;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.article-title {
  font-size: 2rem;
  margin: 0;
  font-family: "Lora", sans-serif;
}

.article-title.title-light {
  color: #1792d2;
  font-size: 1.8rem;
}

.article-text {
  font-size: 1.3rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: light;
  color: #707070;
}

.article-text .highlight {
  font-weight: bold;
}

.article-text a {
  color: #1792d2;
}

.main-container {
  width: 70%;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

.main-container .posts-container {
  width: 75%;
  height: 100%;
}

.main-container .posts-container .featured-article img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 80%;
     object-position: 50% 80%;
}

.main-container .posts-container .articles-list .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 2em;
}

.main-container .posts-container .articles-list .article .left {
  width: 25%;
}

.main-container .posts-container .articles-list .article .left img {
  width: 100%;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-container .posts-container .articles-list .article .right {
  width: 70%;
}

.main-container .sidebar-container {
  width: 20%;
  height: 100%;
}

.main-container .sidebar-container .about-me {
  border: 1rem solid #ebebeb;
  margin-bottom: 2em;
}

.main-container .sidebar-container .about-me .contents {
  margin: 1.5em;
  text-align: center;
}

.main-container .sidebar-container .about-me .contents h3 {
  color: #143774;
  font-family: "Lora", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin: 0.5em 0;
  text-align: left;
}

.main-container .sidebar-container .about-me .contents img {
  text-align: center;
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-container .sidebar-container .about-me .contents p {
  color: #1792d2;
  font-size: 1.1rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: light;
  text-align: left;
}

.main-container .sidebar-container .recent-posts {
  border: 1rem solid #ebebeb;
}

.main-container .sidebar-container .recent-posts .contents {
  margin: 1.5em;
  text-align: center;
}

.main-container .sidebar-container .recent-posts .contents h3 {
  font-family: "Lora", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: left;
}

.main-container .sidebar-container .recent-posts .contents .post-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-container .sidebar-container .recent-posts .contents .post-item p {
  color: #143774;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  text-align: left;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  background: #143774;
  height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #717171;
}

footer .motto {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
}

footer .copyright {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */